<%= form_with(model: @user, local: true) do |form| %>
  <div class="field">
    <%= form.label :nickname %>
    <%= form.text_field :nickname %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, User.genders.keys.map {|k| [k, k]} %>
  </div>

  <!-- 他のフィールドをここに追加... -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
