<h1>Welcome to Ahp</h1>
<p>This is a dating app that helps you find your ideal partner based on your interests.</p>

<% if user_signed_in? %>
  <h2>Your Profile</h2>
  <p>Nickname: <%= current_user.nickname %></p>
  <p>Age: <%= current_user.profile.age %></p>
  <p>Gender: <%= current_user.profile.gender %></p>
  <p>Interests: <%= current_user.profile.interests %></p>

  <h2>Your Recommended Partner</h2>
  <p><%= current_user.profile.recommendation.text %></p>
<% else %>
  <p>Please <%= link_to 'sign up', new_user_registration_path %> or <%= link_to 'login', new_user_session_path %> to see your recommended partner.</p>
<% end %>
